In [1]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config_sk import api_key

In [2]:
#call snp 500 company name list
snp_url=f"https://pkgstore.datahub.io/core/s-and-p-500-companies/constituents_json/data/8fd832966a715a70cb9cf3f723498e3b/constituents_json.json"
print(requests.get(snp_url))

<Response [200]>

In [3]:
snp_response = requests.get(snp_url).json()
#print(json.dumps(snp_response, indent=4, sort_keys=True))

In [23]:
#-------------------------------------------------------------------------------------------------------

In [4]:
#call historical price api
url=f"https://financialmodelingprep.com/api/v3/historical-price-full/%5EGSPC?apikey={api_key}"
print(requests.get(url))

<Response [200]>

In [5]:
price_response = requests.get(url).json()
#print(json.dumps(price_response, indent=4, sort_keys=True))

In [8]:
#-------------------------------------------------------------------------------------------------------

In [6]:
# collect a list of the S&P 500 constituents
snp_company_name = []
snp_company_symbol = []


for company in snp_response:
    snp_company_name.append(company['Name'])
    snp_company_symbol.append(company['Symbol'])

In [7]:
data1 = {'Name': snp_company_name, 
         'Symbol': snp_company_symbol,
        'Q3 Date': ['' for i in range(len(snp_company_name))], 
        'Q3 Price': ['' for i in range(len(snp_company_name))], 
        'Q2 Date': ['' for i in range(len(snp_company_name))], 
        'Q2 Price': ['' for i in range(len(snp_company_name))], 
        'Q1 Date': ['' for i in range(len(snp_company_name))], 
        'Q1 Price': ['' for i in range(len(snp_company_name))] 
       }
snp_df = pd.DataFrame(data=data1)
snp_df.head(-1)

,Name,Symbol,Q3 Date,Q3 Price,Q2 Date,Q2 Price,Q1 Date,Q1 Price
0,3M Company,MMM,,,,,,
1,A.O. Smith Corp,AOS,,,,,,
2,Abbott Laboratories,ABT,,,,,,
3,AbbVie Inc.,ABBV,,,,,,
4,ABIOMED Inc,ABMD,,,,,,
...,...,...,...,...,...,...,...,...
499,Xylem Inc.,XYL,,,,,,
500,Yum! Brands Inc,YUM,,,,,,
501,Zebra Technologies,ZBRA,,,,,,
502,Zimmer Biomet Holdings,ZBH,,,,,,
503,Zions Bancorp,ZION,,,,,,

In [8]:
for index, row in snp_df.iterrows():
        
    symbol = row["Symbol"]
    date_url = f'https://financialmodelingprep.com/api/v3/ratios/{symbol}?period=quarter&limit=3&apikey={api_key}'
    #price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date}&to={date}&apikey={api_key}'
    response = requests.get(date_url).json()
    
    
    try:  
        
        snp_df.loc[index, "Q3 Date"] = response[0]["date"]
        snp_df.loc[index, "Q2 Date"] = response[1]["date"]
        snp_df.loc[index, "Q1 Date"] = response[2]["date"]
        
    except IndexError:
        print("Missing information")

Missing information
Missing information

In [9]:
#get price 
for index, row in snp_df.iterrows():
    
    symbol = row["Symbol"]
    
    # Price Response for Q2 2020 Date
    date1 = row["Q3 Date"]
    date1_price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date1}&to={date1}&apikey={api_key}'
    date1_response = requests.get(date1_price_url).json() 
    
    
    try:  
        snp_df.loc[index, "Q3 Price"] = date1_response['historical'][0]['close']
        
    except (IndexError, KeyError):
        print(f" - ")
    
    
    #Price Response for Q1 2020 Date
    date2 = row["Q2 Date"]
    date2_price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date2}&to={date2}&apikey={api_key}'
    date2_response = requests.get(date2_price_url).json() 
    
    
    try:  
        snp_df.loc[index, "Q2 Price"] = date2_response['historical'][0]['close']
        
    except (IndexError, KeyError):
        print(f" - ")

            
    
    #Price Response for Q4 2019 Date
    date3 = row["Q1 Date"]
    date3_price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date3}&to={date3}&apikey={api_key}'
    date3_response = requests.get(date3_price_url).json()
    
     
    try:  
        snp_df.loc[index, "Q1 Price"] = date3_response['historical'][0]['close']
    
    except (IndexError, KeyError):
        print(f" - ")

 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -

In [10]:
snp_df.head(-1)

,Name,Symbol,Q3 Date,Q3 Price,Q2 Date,Q2 Price,Q1 Date,Q1 Price
0,3M Company,MMM,2020-06-30,154.583,2020-03-31,133.95,2019-12-31,171.558
1,A.O. Smith Corp,AOS,2020-06-30,46.9078,2020-03-31,37.4314,2019-12-31,46.9075
2,Abbott Laboratories,ABT,2020-06-30,91.0764,2020-03-31,78.2752,2019-12-31,85.7969
3,AbbVie Inc.,ABBV,2020-06-30,96.9961,2020-03-31,74.1652,2019-12-31,85.0381
4,ABIOMED Inc,ABMD,2020-06-30,241.56,2020-03-31,145.16,2019-12-31,170.59
...,...,...,...,...,...,...,...,...
499,Xylem Inc.,XYL,2020-06-30,64.7513,2020-03-31,64.6621,2019-12-31,77.9828
500,Yum! Brands Inc,YUM,2020-06-30,86.487,2020-03-31,67.8412,2019-12-31,99.2727
501,Zebra Technologies,ZBRA,2020-06-27,,2020-03-28,,2019-12-31,255.44
502,Zimmer Biomet Holdings,ZBH,2020-06-30,119.36,2020-03-31,100.87,2019-12-31,148.998
503,Zions Bancorp,ZION,2020-06-30,33.6734,2020-03-31,26.2013,2019-12-31,50.4626

In [11]:
snp_df.to_csv('../output/snp_historical_prices_v2.csv')